.signin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  padding: 20 20px 20px 0;
  margin: 161px auto 0;
}

.signin_container {
  width: 100%;
  max-width: 544px;
}

.signin_form_card {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(231, 231, 231, 1);
  margin-bottom: 205px;
}

.tab_container {
  display: flex;
  border-bottom: 1px solid rgba(231, 231, 231, 1);
}

.tab_button {
  padding: 26px 20px 22px;
  flex: 1;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 5%;
  color: rgba(49, 48, 55, 1);
  cursor: pointer;
  text-transform: uppercase;
}

.tab_active {
  border-bottom: 2px solid rgba(49, 48, 55, 1);
}

.signin_form {
  padding: 32px;
}

.form_group {
  margin-bottom: 16px;
}
.form_group:last-child {
  margin-bottom: 8px;
}
.form_group_signup {
  margin-bottom: 16px;
}
.form_group_signup_last {
  margin-bottom: 40px;
}

.signin_label {
  display: block;
  margin-bottom: 4px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: rgba(49, 48, 55, 1);
}

.signin_input {
  width: 480px;
  padding: 14px 20px 10px;
  border: 1px solid #e9ecef;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(49, 48, 55, 1);
  box-sizing: border-box;
}

.signin_input:focus {
  outline: none;
}

.signin_input::placeholder {
  color: rgba(168, 168, 168, 1);
}

.forgot_password {
  margin-bottom: 40px;
  text-align: left;
}

.forgot_password a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #6c757d;
  text-decoration: none;
}
