.wrapper {
  padding: 176px 15px 0px 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  row-gap: 48px;
  column-gap: 32px;
  justify-content: center;
  margin-bottom: 72px;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: white;
}
