.cart{
    max-width: 1200px;
    width: 100%;
    margin: 161px auto 72px;
    padding: 0 15px;
    
    &__header{
        margin-bottom: 48px;
    };
    &_back_button{
    background: none;
    border: none;
    cursor: pointer;
    };
    &_title{
    @include font(56px, 64px, rgba(49, 48, 55, 1), 700);
    text-transform: uppercase;
    margin: 32px 0 48px;
    }
    &_items{
        
    }
}