.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding-top: 49px;
  border-top: 1px solid rgba(231, 231, 231, 1);
  margin-bottom: 72px;
}

.pages {
  display: flex;
  gap: 4px;
}

.page {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(168, 168, 168, 1);
  line-height: 24px;
}

.page:hover {
  color: rgba(49, 48, 55, 1);
}

.page.active {
  color: rgba(49, 48, 55, 1);
}

.arrow {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
}
