.subscribe {
  background-color: rgba(244, 238, 253, 1);
  padding: 56px 64px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 72px;
}
.subscribe_title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.subscribe_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 32px;
  color: rgba(168, 168, 168, 1);
}
.search_wrapper {
  display: flex;
  width: 100%;
}

.search_wrapper input {
  font-family: "Roboto", sans-serif;
  flex: 1;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid rgba(168, 168, 168, 1);
  border-radius: 2px 0 0 2px;
  outline: none;
  background-color: white;
}

.search_wrapper button {
  font-family: "Bebas Neue", sans-serif;
  padding: 16px 2px;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  background-color: rgba(49, 48, 55, 1);
  max-width: 147px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5%;
  color: rgba(255, 255, 255, 1);
}
